body {
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

#instructions {

}
#random-number {
	font-size: 30px;
	background-color: #8FD8D2;
	padding: 20px 20px;
	width: 275px;
}

#wins-counter {
	width: 100px;
	margin-top: 20px;
	padding-left: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: grey;

}

.crystal-image {
      width: 250px;
      height: 250px;
    }

 #images {
 	margin-top: 25px;
 }

 #score {
 	font-size: 30px;
 }